{{define "favicons"}}
<link rel="icon" type="image/png" sizes="16x16" href="/.assets/head/favicon@16w.png">
<link rel="icon" type="image/png" sizes="32x32" href="/.assets/head/favicon@32w.png">
<link rel="icon" type="image/png" sizes="48x48" href="/.assets/head/favicon@48w.png">
<link rel="icon" type="image/png" sizes="64x64" href="/.assets/head/favicon@64w.png">

<link rel="apple-touch-icon" sizes="120x120" href="/.assets/head/touch-icon@120w.png">
<link rel="apple-touch-icon" sizes="152x152" href="/.assets/head/touch-icon@152w.png">
<link rel="apple-touch-icon" sizes="180x180" href="/.assets/head/touch-icon@180w.png">

<link rel="icon" type="image/png" sizes="192x192" href="/.assets/head/touch-icon@192w.png">
<link rel="icon" type="image/png" sizes="512x512" href="/.assets/head/touch-icon@512w.png">
{{end}}