:root {
  color-scheme: light dark;
}

html {
  color: light-dark(#444, #ddd);
  background-color: light-dark(#fff, #000);

  font-family: monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  width: min(100%, 700px);
  margin: 0 auto;

  scroll-behavior: smooth;
}

body {
  padding: 2em 2em 30vh;
}

ul,
ol {
  padding-inline-start: 20px;
}

li {
  line-height: 2em;
}

img {
  width: 100%;
  border-radius: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: light-dark(#000, #eee);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2em;
}

:not(:is(h2, h3, h4, h5, h6)) + :is(h2, h3, h4, h5, h6) {
  padding-top: 2em;
  border-top: 1px solid light-dark(#eee, #222);
}

p {
  line-height: 2em;
}

#profile-shot {
  & > img {
    width: 230px;
    border-radius: 50%;
    overflow: hidden;
    margin: 50px 0 0;
  }
}
