:root {
  color-scheme: light dark;
}

html {
  color: light-dark(#444, #ddd);
  background-color: light-dark(#fff, #000);

  font-family: monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  width: min(100%, 700px);
  margin: 0 auto;

  scroll-behavior: smooth;
}

body {
  padding: 2em 2em 30vh;
}

ul,
ol {
  padding-inline-start: 20px;
}


li {
  line-height: 2em;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: light-dark(#000, #eee);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2em;
}

:not(:is(h2, h3, h4, h5, h6))+:is(h2, h3, h4, h5, h6) {
  padding-top: 2em;
  border-top: 1px solid light-dark(#eee, #222);
}

p {
  line-height: 2em;
}

.project-promo {
  display: block;
  border-radius: 8px;
}

ul.project-links {
  padding-inline-start: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;

  li {
    list-style: none;
    list-style-type: none;

    &>a {
      line-height: 2em;
      padding: 2px 12px 0;
      border-radius: 999px;
      display: inline-block;
      text-decoration: none;
      border: 1px solid light-dark(#000, #fff);
      color: light-dark(#000, #fff);
      background-color: light-dark(#fff, #000);

      transition: 180ms all ease-out;

      &:hover {
        color: light-dark(#fff, #000);
        background-color: light-dark(#000, #fff);
      }
    }
  }
}


ul.hashtags {
  padding-inline-start: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
  flex-wrap: wrap;

  li {
    list-style: none;
    list-style-type: none;
    text-wrap: nowrap;

    line-height: 2em;
    padding: 2px 12px 0;
    border-radius: 999px;

    background-color: light-dark(#eee, #393939);
    color: light-dark(#000, #fff);
  }
}